/* .container{
    background-image: url('../css/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reactions{
    display: flex;
    gap:1rem;
    font-size: 3.5rem;
}
.reactions p{
    opacity: 0.6;
}
.stars{
    font-size: 3rem;
    display: flex;
    gap:1rem;
    color: gold;
    opacity: 0.6;
    margin: 1rem;
}
.thumbs{
    font-size: 4rem;
    display: flex;
    gap:2rem;
    margin: 2rem;
    align-items: center;
    justify-content: center;
}
.reactions p,.stars i,.thumbs i{
    cursor: pointer;
}
.thumbs i:nth-child(1){
    color: green;
    transition: all 300ms ease-in-out;
}
.thumbs i:nth-child(2){
    color: red;
    transition: all 300ms ease-in-out;
}
.thumbs i:nth-child(1):hover,.thumbs i:nth-child(2):hover{
    transform: scale(1.2);
}
.thumbs i:nth-child(1):active{
    transform: scale(1.2);
}
textarea{
    width: 350px;
    height: 100px;
    resize: none;
    margin: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: gray;
    color: #fff;
}
.submit_div button{
    padding:10px 2rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: azure;
    cursor: pointer;

}